html,body {
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
}

canvas {
margin: 0 auto;
display: block;
cursor: none;
}

/*The wrapper determines the overall background and canvas size for the game, everything else is in relation to this*/
#wrapper {
    background: url(./assets/images/background/LuckyFUNKZ.png);
    background-size: 91% 100%;
    width: 820px;
    height: 653px;
    position: absolute;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    touch-action: none;
    top: 0;
    left: 0;
}

/*Gameplay area*/
#slotsArea {
    width: 92%;
    height: 57%;
    position: absolute;
    top: 17%;
    left: 21%;
}

/*CSS for the auto play button*/
#autoSpinButton {
    height: 13%;
    width: 11%;
    position: absolute;
    top: 74%;
    left: 26%;
}

#autoSpinButton.off{
    background: url('./assets/images/ui/buttons/auto_unpressed.png');
    background-size: 100% 100%;
}

#autoSpinButton.on{
    background: url('./assets/images/ui/buttons/auto_pressed.png');
    background-size: 100% 100%;
}

#autoSpinButton:active{
    background: url('./assets/images/ui/buttons/auto_press.png');
    background-size: 100% 100%;
}

/*CSS for the line button*/
#lineButton{
    background: url('./assets/images/ui/buttons/lines_unpressed.png');
    background-size: 100% 100%;
    height: 11%;
    width: 9%;
    position: absolute;
    top: 72%;
    left: 34%;
}

#lineButton:active{
    background: url('./assets/images/ui/buttons/lines_pressed.png');
    background-size: 100% 100%;
}

/*CSS for the bet one button*/
#betButton{
    background: url('./assets/images/ui/buttons/bet_one_unpressed.png');
    background-size: 100% 100%;
    height: 11%;
    width: 9%;
    position: absolute;
    top: 75%;
    left: 41%;
}

#betButton:active{
    background: url('./assets/images/ui/buttons/bet_one_pressed.png');
    background-size: 100% 100%;
}

/*CSS for the max bet button*/
#maxBetButton{
    background: url('./assets/images/ui/buttons/bet_max_unpressed.png');
    background-size: 100% 100%;
    height: 11%;
    width: 9%;
    position: absolute;
    top: 72%;
    left: 48%;
}

#maxBetButton:active{
    background: url('./assets/images/ui/buttons/bet_max_pressed.png');
    background-size: 100% 100%;
}

/*CSS for the spin button*/
#spinButton{
    background: url('./assets/images/ui/buttons/spin_unpressed.png');
    background-size: 100% 100%;
    height: 13%;
    width: 11%;
    position: absolute;
    top: 74%;
    left: 54%;
}

#spinButton:active{
    background: url('./assets/images/ui/buttons/spin_pressed.png');
    background-size: 100% 100%;
}

@font-face {
    font-family: GraphicPixel;
    src: url("./assets/fonts/GraphicPixel-Regular.ttf");
}
  
#credit_div {
    position: absolute;
    top: 66%;
    left: 29%;
    width: 15%;
    text-align: left;
    font-size: 12pt;
    text-shadow: 1px 1px 2px #38ff00, 0 0 1em #ebff00, 0 0 0.2em #00ffaa;
    font-family: GraphicPixel;
    color: #38ff00;
}

#lines_div {
    position: absolute;
    top: 66%;
    left: 53%;
    width: 100px;
    text-align: left;
    font-size: 12pt;
    text-shadow: 1px 1px 2px red, 0 0 1em #9600ff, 0 0 0.2em #ff004e;
    font-family: GraphicPixel;
    color: #e0e91b;
}
  
#bet_div {
    position: absolute;
    top: 66%;
    left: 44%;
    width: 10%;
    text-align: left;
    font-size: 12pt;
    text-shadow: 1px 1px 2px red, 0 0 1em #00ffa1, 0 0 0.2em #00f6ff;
    font-family: GraphicPixel;
    color: aqua;
}